<div class="item-show">
  <a href="/menus"><- All menus</a>
  <h1><a href="/menus/<%= @menu.slug %>"><%= @menu.name %></a></h1>
  <div class="details">
    <% if @menu.meals.empty? %>
    <p><%= "This menu is empty" %></p>
    <% else %>
      <% @menu.meals.each do |meal| %>
        <p><%= meal.name %></p>
      <% end %>
    <% end %>
  </div>
  <a class="small-button" href="/menus/<%= @menu.slug %>/edit">Edit this menu</a>

</div>
