<div class="item-show">
  <a href="/menus"><- All menus</a>
  <h1><a href="/menus/<%= @menu.slug %>"><%= @menu.name %></a></h1>
  <p>Posted by <%= @creator.username %></p>
  <div class="details">
    <% if @menu.meals.empty? %>
    <p><%= "This menu is empty" %></p>
    <% else %>
      <% @menu.meals.each do |meal| %>
        <p><%= meal.name %></p>
      <% end %>
    <% end %>
  </div>
  <% if @creator == current_user %>
  <a class="small-button" href="/menus/<%= @menu.slug %>/edit">Edit this menu</a>
    <form method="POST" action="/menus/<%= @menu.slug %>/DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input  type="submit" value="Delete" class="delete-button">
    </form>
  <% end %>
  <% if current_user.role == "manager" %>
    <form method="POST" action="/menus/<%= @menu.slug %>/activate">
      <input type="hidden" name="_method" value="PATCH">
      <input  type="submit" value="Activate">
    </form>
  <% end %>
</div>
