<div class="item-show">
  <a href="/meals"><- All meals</a>
  <h1><a href="/meals/<%= @meal.slug %>"><%= @meal.name %></a></h1>
  <div class="details">
    <p><%= @meal.ingredients %></p>
    <br>
    <p><%= @meal.method %></p>
  </div>
  <a class="small-button" href="/menus/<%= @meal.slug %>/edit">Edit this meal</a>
</div>
